* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: "Airbnb_Cereal-Cyrillic-Book";
    font-size: 17px;
    color: #243e63;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}
input,
textarea,
select {
    font-family: "Airbnb_Cereal-Cyrillic-Book";
    font-weight: 500;
}

a {
    color: #243e63;
    font-family: "Airbnb_Cereal-Medium";
    font-size: 14px;
    font-weight: 400;
    display: block;
}
a.button {
    color: #f7fafc;
    font-family: "Airbnb_Cereal-Bold";
    font-size: 14px;
    padding: 12px 32px;
    background: #6415ff;
    display: inline-block;
    border-radius: 5px;
}
h1 {
    font-family: "Airbnb_Cereal-Bold";
    color: #243e63;
}
h1.parallelogram {
    transform: skew(-12deg);
    font-size: 48px;
    color: #f7fafc;
    background: #6415ff;
    padding: 0 16px;
    display: inline-block;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Airbnb_Cereal-Cyrillic-Book";
    font-weight: 500;
    color: rgb(113, 128, 150);
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

::placeholder {
    color: #9b9b9b;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #9b9b9b;
}

::-ms-input-placeholder {
    color: #9b9b9b;
}
@font-face {
    font-family: "Airbnb_Cereal-Arabic-Book";
    src: url("../fonts/airbnb/Airbnb_Cereal-Arabic-Book.woff2") format("woff2");
}
@font-face {
    font-family: "Airbnb_Cereal-Bold";
    src: url("../fonts/airbnb/Airbnb_Cereal-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Airbnb_Cereal-Book";
    src: url("../fonts/airbnb/Airbnb_Cereal-Book.woff2") format("woff2");
}
@font-face {
    font-family: "Airbnb_Cereal-Cyrillic-Book";
    src: url("../fonts/airbnb/Airbnb_Cereal-Cyrillic-Book.woff2")
        format("woff2");
}
@font-face {
    font-family: "Airbnb_Cereal-Hebrew-Book";
    src: url("../fonts/airbnb/Airbnb_Cereal-Hebrew-Book.woff2") format("woff2");
}
@font-face {
    font-family: "Airbnb_Cereal-Medium";
    src: url("../fonts/airbnb/Airbnb_Cereal-Medium.woff2") format("woff2");
}
@media (max-width: 1280px) {
    h1.parallelogram {
        font-size: 44px;
    }
}
